<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Binance.Net" version="7.1.4" targetFramework="net472" />
  <package id="CryptoExchange.Net" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>